body {
  top: 0px;
  left: 0px;
  width: 1255px;
  height: 1533px;

  background: #acecf7;
}

.topBarNavagation {
  top: 0px;
  left: 0px;
  width: 1255px;
  height: 72px;

  background: #2699fb;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  font-family: Arial;

  color: #ffffff;
}

.homeIcon {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 35px;
  height: 33px;
}

.workExperence {
  position: absolute;
  top: 31px;
  left: 70px;
  width: 74px;
  height: 11px;
}

.professionalDevelopment {
  position: absolute;
  top: 31px;
  left: 177px;
  width: 119px;
  height: 11px;
}

.workSamples {
  position: absolute;
  top: 31px;
  left: 336px;
  width: 67px;
  height: 11px;
}

.contact {
  position: absolute;
  top: 31px;
  left: 432px;
  width: 45px;
  height: 11px;
}

.workExperenceTitle {
  position: absolute;
  white-space: nowrap;
  top: 99px;
  left: 456px;
  width: 344px;
  height: 46px;

  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 87px;
  font-family: Georgia;
  color: #7f7f7f;
}

h1 {
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: Georgia;
  color: #7f7f7f;
}
h2 {
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: Georgia;
  color: #000000;
}

h3 {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  font-family: Georgia;
  color: #000000;
}

li {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0px;
  font-family: Georgia;
  color: #000000;
}
.professionalDevelopmentTitle {
  position: absolute;
  top: 128px;
  left: 350px;
  width: 555px;
  height: 46px;
}
.LinkedInLearningCoursesHeader {
  position: absolute;
  top: 227px;
  left: 43px;
  width: 570px;
  height: 48px;
}

.LinkedInLearningCoursesList {
  position: absolute;
  top: 283px;
  left: 46px;
  width: 622px;
  height: 319px;
}

.BostonCodeCampHeader {
  position: absolute;
  top: 630px;
  left: 40px;
  width: 390px;
  height: 49px;
}

.wiresharkTalkInfo {
  position: absolute;
  white-space: nowrap;
  top: 695px;
  left: 40px;
  width: 847px;
  height: 38px;
}

iframe {
  position: absolute;
  top: 786px;
  left: 40px;
}
.ParticipantInBostonCodeCampTitle {
  position: absolute;
  top: 1143px;
  left: 25px;
  width: 689px;
  height: 58px;
}
.ParticipantInBostonCodeCampList {
  position: absolute;
  top: 1201px;
  left: 46px;
  width: 71px;
  height: 280px;
}
